<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @restaurant.ratings %>
</p>


<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %> |

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> | <%= link_to 'Remove', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %></li>
  <% end %>
</ul>
